[submodule "week1"]
	path = week1
	url = https://github.com/YejiGong/java-baseball-6
	branch = YejiGong
[submodule "week2"]
	path = week2
	url = https://github.com/YejiGong/java-racingcar-6
	branch = YejiGong
[submodule "week3"]
	path = week3
	url = https://github.com/YejiGong/java-lotto-6
	branch = YejiGong
